<div class="page-header">
  <%= link_to table_ocassions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @table_ocassion, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing table_ocassion</h1>
</div>

<%= render 'form' %>
