<div class="page-header">
  <%= link_to restaurant_musics_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @restaurant_music, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing restaurant_music</h1>
</div>

<%= render 'form' %>
